*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
h2, p{
    font-family: 'Varela Round';
    text-align: justify;
}
#menu-area{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    padding:0 60px;
    position:fixed;
    width:100%;
    top:0;
    left: 0;
    transition:background 0.5s;
}
@keyframes animate {
    0%{
        background-image: url(imagens/baner.jpg);
    }
    25%{
        background-image: url(imagens/banner1.jpg);
    }
    50%{
        background-image: url(imagens/banner2.jpg);
    }
    75%{
        background-image: url(imagens/banner3.jpg);
    }
    100%{
        background-image: url(imagens/banner4.jpg);
    }
}

#menu-area .logo .img1{
    height: 70px;
    transition:height 0.5s;
    padding-top:10px;
}
#menu-area ul{
    width:500px;
    justify-content: space-around;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    
}
#menu-area ul li a{
    text-decoration:none;
    color: #262626;
    font-family: Varela Round;
}
#menu-area ul li{
    padding: 5px;
}
li:hover{
    border: 1px solid rgb(17, 17, 17);
    transition: all .5s ease; 
}
li:hover{
border-radius: 10px;    
}
.banner-area{
    -webkit-background-size: cover;
    background-size:cover;
    background-position:center center;
    width: 100%;
    height:675px;
    animation: animate 16s ease-in-out infinite;
    background-size:cover;
}

.banner-text{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.banner-text h2{
    font-family:'Varela Round';
    font-size:40px;

}

#dv a{
    text-decoration:none;
    background:#09090e;
    color:rgb(250, 249, 249);
    padding:15px 30px;
    display:inline-block;
    margin-top:20px;
    border-radius:50px;
    font-family: Varela Round;
   
}
#dv a:hover{
    background-color: transparent;
}

.wrapper{
    padding: 70px;
}
#menu-area.cus-nav{
    background: rgba(248, 244, 244, 0.904);
    z-index: 999;
}
#menu.cus-nav a{
    color: #fff;
}
#menu.cus-nav .logo img{
    height: 65px;
}
/*body things after the menu and the carrousel*/
div.middiv{
    height:500px;
    width: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
}
.indiv1{
    height: 10%;
    width:100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*text from the secction title*/
.indiva{
    height: 100%;
    width:40%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*esta parte define a parte do titulo servicos de apoio */
.indiva h5{
    font-size: clamp(1.7em, 1em + 3vw, 2.5em);
    font-size: 25px;
    font-family: Varela Round;
    padding-top: 10px;
}
.underline{
    height: 3px;
    width: 50px;
    background-color: blueviolet;
    border-radius: 10px;
}
/*a segunda div de section*/
.indiv2{
    height: 150px;
    width: 100%;
    background-color: brown;
}
/*container de section*/

.contitle{
    width: auto;
    height: 30px;
    /*background-color: aquamarine;*/
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner1{
    height: 100%;
    width:300px;
    /*background-color: #807e69;*/
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.contitle .inner1 h2{
    font-size: 22px;
    font-family: Varela Round;
}
.inner1A{
    width: 90px;
    height: 5px;
    background-color: aqua;
    border-radius: 10px;
}

.containerr{
    width: 100%;
    height:auto;
    background: whitesmoke;
    /*add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top:20px;
}
.containerr .flexTitle{
    font-size: 20px;
    text-align: center;
    font-family: 'Varela Round';
}
.box{
    width: 200px;
    height: 315px;
    background-color: rgb(204, 192, 250);
    margin:20px;
    font-size:50px;
    /*text-align:center;*/
    text-align: justify;
}
.box:hover{
    background-color: rgb(84, 81, 250);
}
.containerr .box p{
    font-size: 15px;
    font-family: Varela Round;
    margin-top: 10px;
}
.box a{
    text-decoration: none;
    color:rgb(97, 90, 90);
}
/*em cima da flexbox de noticias*/
.newsdiv{
    width: 100%;
    height: 40px;
    /*background-color: black;*/
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 3%;
}
.newsindiv{
    width: 30%;
    height: 100%;
    /*background-color: rgb(53, 63, 63);*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsindiv h2{
    font-family: Varela Round;
}
/*flexbox de noticias*/
.container1{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #333;
}
.card{
    background: whitesmoke;
    width:280px;
    height:auto;
    margin: 10px;
    border-radius:15px ;
    text-align: justify;
}
.card h2{
    font-family: Varela Round;

}
.card p{
    font-family: Varela Round;
}
.card-image{
    background-color:aqua;
    height: 170px;
    margin-bottom:15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.car-1 {
    background-image: url(imagens/covid.jpg);
    
}
.car-1:hover{
    box-shadow: 5px  5px 15px rgba(0,0,0,0.9);
    border-radius: 0px;
    transition: 0.3s;
    height: 190px;
   
   
}
.car-2{
    background-image: url(imagens/hcb-equipment.jpg);
}
.car-2:hover{
    box-shadow: 5px  5px 15px rgba(0,0,0,0.9);
    border-radius: 0px;
    transition: 0.3s;
    height: 190px;
}
.car-3{
    background-image: url(imagens/hcb-surgery.jpg);
}
.car-3:hover{
    box-shadow: 5px  5px 15px rgba(0,0,0,0.9);
    border-radius: 0px;
    transition: 0.3s;
    height: 190px;
}
.card a {
    background-color: rgba(189, 168, 168, 0.26);
    color: white;
    padding: 15px 20px;
    text-align: center;
    display: block;
    margin: 20px 50px;
    border-radius: 15px;
    text-decoration: none;
    font-family: Varela Round;
    font-size: small;
}
.card a:hover{
    background-color: aqua;
    transition: 0.3s;
}
footer{
    margin:0px;
    /*position: relative;*/
    width: 100%;
   

}

.content1{
    width:100%;
    height: auto;
    background-color:rgb(41, 38, 38);
    display:flex;
    flex-direction: row;

}
.left-box{
    text-align: justify;
    font-family: 'varela round';
}
.fter{
    width: 30%;
    height: auto;
    padding-top: 80px;

}
.Cbox{
 padding-top: 90px;
    width: 30%;
    text-align: center;
}
.right-box{
    padding-top: 90px;
    width: 40%;
}
/*parte das doações*/


.container{
    max-width: 100%;
    border: 1px solid #fff;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    background-color: rgb(175, 172, 169);

    grid-template-areas: 
    "sidenav item item"
    "sidenav item item"
    "sidenav item item"
    "footer footer footer";
}
.container img{
    width: 100%;
    border-radius: 60px;
}

.container img:hover{
    border-radius: 10px;
    transition: 0.3s ;
}
.sidenav{
    max-width: 300px;
    min-width:250px;
    height: 900px;

    background-color: #333;
    border-radius: 20px;

    grid-area: "sidenav";
    grid-row: sidenav;
}

.item{
    margin-top: 10px;
    max-width: 300px;
    min-width: 250px;
    height: 350px;
    box-shadow: 5px  5px 5px rgba(0,0,0,0.9);
    background-color: rgba(211, 208, 208, 0.561);
    border-radius: 15px;
    opacity: 100%;
    grid-area: "item";
}

.item:hover{
    transition: 0.3s;
    opacity:100%;
}

.footer{
    width: auto;
    height: 300px;

    background-color: #333;
    border-radius:20px;

    grid-area: "footer";
    grid-column: footer;
}

@media (max-width: 820px){
    .container{
        grid-template-areas:
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "sidenav item"
        "footer footer"
         ;
    }

}

@media (max-width: 520px){
    .sidenav{
        height: 200px;
    }
    .container{
        grid-template-areas:
        "sidenav"
        "item"
        "item"
        "item"
        "item"
        "item"
        "footer";
    }
}
