*{
    padding: 0;
    margin:0;
    box-sizing:border-box;

}
body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
#menu-area{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    justify-content: space-between;
    padding:0 60px;
    position:fixed;
    width:100%;
    top:0;
    left: 0;
    transition:background 0.5s;


}
@keyframes animate {
    0%{
        background-image: url(imagens/baner.jpg);
    }
    25%{
        background-image: url(imagens/banner1.jpg);
    }
    50%{
        background-image: url(imagens/banner2.jpg);
    }
    75%{
        background-image: url(imagens/banner3.jpg);
    }
    100%{
        background-image: url(imagens/banner4.jpg);
    }
}

#menu-area .logo img{
    height: 70px;
    transition:height 0.5s;
    padding-top:10px;
}
#menu-area ul{
    width:500px;
    justify-content: space-around;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    
}
#menu-area ul li a{
    text-decoration:none;
    color: #262626;
    font-family: Varela Round;
}
#menu-area ul li{
    padding: 5px;
}
.banner-area{
    -webkit-background-size: cover;
    background-size:cover;
    background-position:center center;
    width: 100%;
    height:675px;
    animation: animate 16s ease-in-out infinite;
    background-size:cover;
}

.banner-text{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.banner-text h2{
    font-family:Varela Round;
    font-size:40px;

}
.banner-text a{
    text-decoration:none;
    background:#262626;
    color:#fff;
    padding:15px 30px;
    display:inline-block;
    margin-top:20px;
    border-radius:50px;
}
.wrapper{
    padding: 70px;
}
#menu-area.cus-nav{
    background: rgba(248, 244, 244, 0.904);
    z-index: 999;
}
#menu.cus-nav a{
    color: #fff;
}
#menu.cus-nav .logo img{
    height: 65px;
}
/*body things after the menu and the carrousel*/
div.middiv{
    height:500px;
    width: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
}
.indiv1{
    height: 10%;
    width:100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*text from the secction title*/
.indiva{
    height: 100%;
    width:40%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*esta parte define a parte do titulo servicos de apoio */
.indiva h5{
    font-size: clamp(1.7em, 1em + 3vw, 2.5em);
    font-size: 25px;
    font-family: Varela Round;
    padding-top: 10px;
}
.underline{
    height: 3px;
    width: 50px;
    background-color: blueviolet;
    border-radius: 10px;
}
/*a segunda div de section*/
.indiv2{
    height: 150px;
    width: 100%;
    background-color: brown;
}
/*container de section*/

.contitle{
    width: auto;
    height: 30px;
    /*background-color: aquamarine;*/
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner1{
    height: 100%;
    width:300px;
    background-color: #807e69;
    display:flex;
    flex-direction: column;
    text-align: center;
}
.contitle .inner1 h2{
    font-size: 22px;
    font-family: Varela Round;
}



.container{
    width: 100%;
    height:auto;
    background: whitesmoke;
    /*add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top:0px;
}
.container .flexTitle{
    font-size: 20px;
    text-align: center;
    font-family: Varela Round;
}
.box{
    width: 200px;
    height: 315px;
    background-color: rgb(241, 237, 230);
    margin:20px;
    font-size:50px;
    text-align:center;
}
.container .box p{
    font-size: 15px;
    font-family: Varela Round;
    margin-top: 10px;   
     
}
.box a{
    text-decoration: none;
    color:black;
}
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    background:#111
}

.content1{
    width:100%;
    height:200px;
    background: rgb(122, 122, 250);
    display: flex;
    flex-direction: row;
}
.left-box p{
    text-align: justify;
}
.fter{
    width: 30%;
    background-color: none;
    color: cornsilk;
    
}

.fter .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.Cbox{
    width: 30%;
    color: #fff;
    background-color: none;
    text-align: center;
}
.right-box{
    width: 40%;
    color: #fff;
    background-color: none;
    
}

.box .content{
    margin: 20px 0 0 0;
}
.left .content p{
    text-align: center;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
    padding: 0 2px;
}
.left .content .social a span{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3;
} 
.left .content .social a span:hover{
    background: #f12020;
}